<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>The home page for the <a href="http://localhost:3020">Ruby on Rails Tutorial</a></p>
<p>You can find the site on <a href="http://www.railstutorial.org/">Official Site</a></p>
